.button-image:before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-size: 18px 18px;
    background-repeat:no-repeat;
}

.edit-button:before{
     background-image : url("../img/lapizEditar.svg");
}

.delete-button:before{
     background-image : url("../img/delete.svg");
}